
<div class="col-xs-2">
  <h3 class="genre">ジャンル検索</h3>

  <div class="sidenav">
    <ul class="nav nav-pills nav-stacked">
      <% genres.each do |genre| %>
      <li class="nav-item">
        <%= link_to genre.name, items_path(genre_id:genre.id), class:"sidenav" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

