
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div id="sidebar" class="col-lg-2">
        <table class='table'>
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= link_to  genre.name, items_path(genre:genre.id) %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= link_to "⇒ すべての商品を見る", items_path, class: 'dark-blue-letter' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

