

<div class="main-visual">
    <div class="main-visual-content">
		<div class="container">
	  		<h1 class= "about">About</h1>
	    	<p>
	      		ながのCakeは全国発送可能なケーキ屋さんです。<br>
	      		お子様からお年寄りの方までお召し上がりいただけるよう、<br>
	      		様々なバリエーションをご用意しております。<br>
	      		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
	      		ぜひご注文ください。<br>
	    	</p>
		</div>
	</div>
</div>
