<!-- ヘッダー部分 -->
<div class="low">
  <div class="col-xs-2"></div>
  <div class="col-xs-6">
<!-- サイドバー（部分テンプレート） -->

<!-- メイン部分 -->
<h1>About</h1>
  <p>
    ながのCakeは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。<br>
  </p>

<!-- 写真 -->

  </div>
</div>
<!-- フッター部分 -->