<div class="container">
    <div class="bg-image">
		<div class="col-xs-6 col-lg-6 main-visual-content">
		  		<h1 class= "about">About</h1>
		    	<div class="about">
		      		ながのCakeは全国発送可能なケーキ屋さんです。<br>
		      		お子様からお年寄りの方までお召し上がりいただけるよう、<br>
		      		様々なバリエーションをご用意しております。<br>
		      		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		      		ぜひご注文ください。<br>
		    	</div>
		</div>
	</div>
</div>

