<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <p class="main-visual-text">
          ようこそ、NaganoCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>


        <%= link_to "もっと見る", items_path %>
      </div> 
    </div>
  </div>
