<<<<<<< HEAD
<div class= "col-xs-4"></div>
<div class="col-xs-6">

	<h4 class="sub-title">管理者画面</h4>


	<h2 class="order-count">
		本日の注文件数　　　　　<% @today_order.count %>件
	</h2>
</div>
=======
<h1>管理者画面</h1>

<p>本日の注文件数</p><%= link_to @today_order.count, admin_orders_path %><p>件</p>
>>>>>>> admin_order
