// Place all the styles related to the member::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-photo{
	margin-top: 20px;
}

.genre{
  color: #7b3a4e;
  text-align: center;
}