<% if flash[:success] %>
  <p class="alert alert-info">
    <%= flash[:success] %>
  </p>
<% end %>

<h1 class="text-center">
  <%= current_member.last_name %>
  <%= current_member.first_name %>
  様、ご購入ありがとうございます！
</h1>

<%= video_tag("/assets/videos/thankyou_page.mp4", :autoplay => true, :loop => true, muted: :true, width: "100%", height: "500px") %>