<% if flash[:success] %>
  <p class="alert alert-info">
    <%= flash[:success] %>
  </p>
<% end %>

<h1 class="text-center">
  <%= current_member.last_name %>
  <%= current_member.first_name %>
  様、ご購入ありがとうございます！
</h1>
