<h1>マイページMember::Members#show</h1>
<rabel>登録情報</rabel>
<%= link_to "編集する" %>
<%= link_to "パスワードを変更する" %>
<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>
<rabel>配送先</rabel>
<%= link_to "一覧を見る" %>
<rabel>注文履歴</rabel>
<%= link_to "一覧を見る" %>
