/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

header {
  background-color: #faf5ea;
  height: 120px;
}


.head-name{
  margin-top: 50px;
}
.sidenav{
  background-color: #c7b4a669;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

.nav-pills > li > a:hover{
  background-color: #fff;
}
.card{
  background-color: #c7b4a669;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 0 0 10px 10px;
}
.navbar{
  padding-top: 20px;
}

a {
  margin: 20px;
  font-family: Meiryo,Georgia;
}

.admin_main_visual {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border: 2px solid #000;
}

.admin_main_visual:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: "";
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #000;
}

.top-image {
  background-image: url("home.jpeg");
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-bottom: 20px;
}

.login-image {
  background-image: url('login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 700px;
}

.bg-image{
  background-image: url('about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 700px;
}

.soldout {
  color: red;
}

.empty {
  text-align: center;
  padding-top: 15px;
  height: 60px;
}

.login-image {
  background-image: url('login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 700px;
}

.bg-image{
  background-image: url('about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 700px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.total_price {
  font-size: 25px;
}

.sub_title {
  background-color: #ffa54c;
  } 

footer {
  text-align: center;
  padding: 30px 0;
  margin:50px 0;
  height:120px;
  background-color:#faf5ea ;
  width: 100%;
}

.far fa-twitter-square, .far fa-instagram-square, .far fa-line {
  padding-top: 20px;
  font-family: "Font Awesome 5 Free";
  margin: 10px;
}

